.page-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.services-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    text-align: center;
    z-index: 1;
    padding: 20px;
    max-width: 700px;
}

.text-overlay.text-right {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}

.text-overlay.text-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-overlay h1,
.text-overlay h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
}

.text-overlay p {
    font-size: 1.5rem;
    color: black;
}

.image-overlay {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.side-image {
    width: 500px; /* Adjust the width as needed */
    height: auto;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .side-image {
        width: 400px; /* Adjust the width as needed for medium screens */
    }
    .text-overlay h1, .text-overlay h2 {
        font-size: 2.5rem;
    }
    .text-overlay p {
        font-size: 1.25rem;
    }
}

@media (max-width: 768px) {
    .side-image {
        width: 300px; /* Adjust the width as needed for small screens */
    }
    .text-overlay h1, .text-overlay h2 {
        font-size: 2rem;
    }
    .text-overlay p {
        font-size: 1rem;
    }
    .text-overlay.text-right {
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .image-overlay {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 10%;
    }
}

@media (max-width: 480px) {
    .side-image {
        width: 200px; /* Adjust the width as needed for extra small screens */
    }
    .text-overlay h1, .text-overlay h2 {
        font-size: 1.5rem;
    }
    .text-overlay p {
        font-size: 0.875rem;
    }
}
